
#editor-tools {
	width: 1024px;
	margin: 0 auto;
}

#editor-tools .tool, #editor-tools .option {
	display: block;
	float: left;
	padding: 0.25em;
	margin-right: 0.25em;
	background-color: #ECECEC;
	border: medium solid #CCC;
	border-radius: 4px;
	font-size: 2em;
	cursor: pointer;
	text-decoration: none;
}

#editor-tools .tool.active, #editor-tools .tool:hover, #editor-tools .option:hover, .sp-replacer:hover, .sp-replacer.sp-active {
	background-color: #FFF;
	border-color: #333;
	color: #dd4814;
}

#editor-tools .tool-additions {
	float: right;
	display: table;
	table-layout: fixed;
}

#editor-tools .tool-additions #slider {
	margin-top: 5px;
	float: right;
}

.vcontainer {
	display: table-cell;
	padding: 0.25em;
	vertical-align: middle;
}

#cutout-ui {
	position: absolute;
	border: 1px dashed #aaa;
	cursor: move;
}

#cutout-scale {
	width: 0;
	height: 0;
}
#cutout-rotate {
	position: absolute;
	width: 0;
	height: 20px;
	left: 50%;
	top: -20px;
	margin-left: -1px;
	border: 1px solid #aaa;
}
#cutout-scale .bottom, #cutout-scale .top, #cutout-rotate .point {
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 1px solid #555;
	background-color: #aaa;
	cursor: pointer;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
#cutout-scale .bottom:hover, #cutout-scale .top:hover {
	background-color: #555;
}
#cutout-rotate .point {
	top: -13px;
	left: -7px;
	background-color: #A0FFA0;
}
#cutout-rotate .point:hover {
	background-color: #008000;
}
#cutout-scale .bottom {
	bottom: -7px;
}
#cutout-scale .top {
	top: -7px;
}
#cutout-scale .left {
	left: -7px;
}
#cutout-scale .right {
	right: -7px;
}

/*Slider as wifi*/
#penWidthSlider {
	height: 50px;
	background: none;
	border: 0 none;
}
#penWidthSlider:before {
	content: '';
	position: absolute;
	filter: drop-shadow(0 0 1px #aaa);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 230px 25px 0;
	border-color: transparent #fefefe transparent transparent;
}
#penWidthSlider .ui-slider-handle {
	height: 59px;
	opacity: 0.75;
}

/*Color picker*/
.sp-replacer {
	font-size: 2em;
	height: 2em;
	background-color: #ECECEC;
	border: medium solid #CCC;
	border-radius: 4px;
}
.sp-replacer > .sp-preview {
	height: 42px;
}
.sp-input-container{
    display: none;
}
